<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.AfterManApplyMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.AfterManApply">
    <id column="p_id" property="id" />
    <result column="p_after_apply_id" property="afterSaleId" />
    <result column="p_uid" property="uid" />
    <result column="p_distribution_time" property="distributionTime" />
    <result column="p_remark" property="remark" />
  </resultMap>

</mapper>