<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.AfterSaleApplyMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.AfterSaleApply">
    <id column="p_id" property="id" />
    <result column="p_order_sn" property="orderSn" />
    <result column="p_device_sn" property="deviceSn" />
    <result column="p_uid" property="uid" />
    <result column="p_agent_id" property="agentId" />
    <result column="p_agent_type" property="agentType" />
    <result column="p_types" property="types" />
    <result column="p_detail" property="detail" />
    <result column="p_img_urls" property="imgUrls" />
    <result column="p_status" property="status" />
    <result column="p_dispense_status" property="dispenseStatus" />
    <result column="p_is_evaluation" property="isEvaluation" />
    <result column="p_name" property="name" />
    <result column="p_phone" property="phone" />
    <result column="p_province" property="province" />
    <result column="p_city" property="city" />
    <result column="p_district" property="district" />
    <result column="p_address" property="address" />
    <result column="p_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="p_finished_time" jdbcType="TIMESTAMP" property="finishedTime" />
    <result column="p_remark" property="remark" />
  </resultMap>

</mapper>