<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.DeviceSendLogsMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.DeviceSendLogs">
    <id column="p_id"  property="id" />
    <result column="p_device_id" property="deviceId" />
    <result column="p_repertory_id"  property="repertoryId" />
    <result column="p_action" property="action" />
    <result column="p_action_time" property="actionTime" />
  </resultMap>

</mapper>