<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.LogsMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.Logs">
    <id column="p_id"  property="id" />
    <result column="p_uid"  property="uid" />
    <result column="p_user_name" property="userName" />
    <result column="p_platform_code"  property="platformCode" />
    <result column="p_module"  property="module" />
    <result column="p_method"  property="method" />
    <result column="p_action"  property="action" />
    <result column="p_response_time"  property="responseTime" />
    <result column="p_ip"  property="ipAddress" />
    <result column="p_commit_date"  property="commitDate" />
    <result column="p_commit" property="commit" />
    <result column="p_params" property="params" />
  </resultMap>

</mapper>