<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.OrderGoodsDeviceMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.OrderGoodsDevice">
    <id column="p_id"  property="id" />
    <result column="p_order_sn"  property="orderSn" />
    <result column="p_goods_sn"  property="goodsSn" />
    <result column="p_device_sn"  property="deviceSn" />
    <result column="p_agent_uid"  property="agentUid" />
    <result column="p_guarantee_time" property="guaranteeTime" />
  </resultMap>

</mapper>