<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.UserMemberMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.UserMember">
    <id column="id" property="id" />
    <result column="member_id"  property="memberId" />
    <result column="user_id" property="userId" />
  </resultMap>

</mapper>